@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;450;900&display=swap');

:root {
  background-color:hsl(180, 20%, 10%);
  color:white;
  font-family:'Orbitron','Courier New', monospace;
  font-size:20px;
  text-align:center;
}

header {
  font-size:3em; 
  font-weight:900;
}