:root {
  background-color:hsl(180, 20%, 10%);
  color:white;
  font-family:'Orbitron','Courier New', monospace;
  font-size:20px;
  text-align:center;
}

header {
  font-size:3em; 
  font-weight:900;
}