@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;450;900&display=swap');

:root {
  background-color:hsl(180, 20%, 10%);
  color:white;
  font-family:'Orbitron','Courier New', monospace;
  text-align:center;
  box-sizing:border-box;
  font-size:24px;
}

body {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  line-height: normal;
  position:absolute;
  height:100%;
  width:100%;
}

header {
  text-align:left;
  justify-self:left;
  font-size:3em; 
  font-weight:900;
}

footer {
  font-size:.8em;
  font-weight: 500;
  padding:.5em;
}

main {
  height:100%;
  min-height:200px;
  width:90%;
  min-width:300px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  margin:2em;
}

button {
  font-size:1.7em;
  margin:3px;
  background-color:rgba(47, 79, 79, 0.637);
  border: none;
  border-radius: 10px;
  overflow:none;
}

button:active {
  background-color:rgba(47, 79, 79, 1);
}

button:focus {
  outline:none;
}

.calc-body {
  height:90%;
  display:grid;
  grid-template-rows: 1fr 4fr;
  margin:.3em 1em .3em 1em;
  padding:20px;
  border: 1px solid rgba(0, 0, 0, 0.493);
  border-radius:20px;
  background-color:slategrey;
  box-shadow:.5em 2em 3em rgba(10, 4, 17, 0.534);
}

.calc-screen {
  box-sizing:border-box;
  width:100%;
  height:100%;
  padding:.3em .3em;
  overflow:hidden;

  display:flex;
  flex-direction:column;
  justify-content:space-around;

  background-color:rgb(14, 18, 29);
  border-radius:10px;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.541) inset;
  text-align:right;

  font-size:1.5em;
}

#num-record {
  font-size:50%;
  opacity:75%;
}

.btn-group {
  box-sizing: border-box;
  width:100%;
  height:100%;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding-top:20px;
}

.num-btn-group {
  grid-column: 1 / span 3;
  grid-row: 2 / span 3;
  display:grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-auto-flow:row;
}

.ops-btn-group {
  grid-column: 4 / span 4;
  grid-row: 1 / span 4;
  display:grid;
  grid-template-rows: repeat(4, 1fr);
}

.grid-wide {
  grid-column: auto / span 2;
}
@media (min-width: 800px) {
  main {
    max-height: 600px;
    max-width:400px;
  }
}